<div class="canvas-component">
  <div class="controls-panel">
    <div class="controls-painting-container">
      <select class="size-selector" [(ngModel)]="selectedSize" (change)="onSizeSelect()">
        <option *ngFor="let size of canvasSizes" [value]="size">
          {{size}}
        </option>
      </select>
      <button class="button generate" (click)="onGenerateCircles()"></button>
      <div class="picker-wrapper">
        <div class="picker-inner" [style.background-color]="currentColor"></div>
        <input class="picker" type="color" [(ngModel)]="currentColor" />
      </div>
      <div class="opt-right">
      <button class="button reset" (click)="onResetColor()"></button>
      <button class="button fill-all" (click)="onFillCircles()"></button>
    </div>
      <button class="button logout" (click)="logout()"></button>
    </div>
    <div class="controls-saving-container">
      <div class="save-options" *ngIf="circles.length">
        <input class="save-text" type="text" [(ngModel)]="projectName" (input)="onInputChange($event)" />
        
        <button class="button save" (click)="onSave()" ></button>
        <button class="button edit" (click)="onEdit()" *ngIf="isProjectClicked"></button>
      </div>

      <div class="projects-container" *ngIf="curProjectList.length">
        <div *ngFor="let project of curProjectList" class="project" (click)="selectProject(project)" 
        [style.background]="project.id === selectedProjectId ? 'rgba(125,180, 68, .4)' : 'white'">
          <div class="btn-wrapper"><button type="button" (click)="deleteProject(project)">X</button></div>
          <p>Project: {{project.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="circles-container container-{{selectedSize}}">
    <app-circle *ngFor="let circle of circles" [color]="circle.color" (click)="onCircleClick(circle)">
    </app-circle>
  </div>
</div>